
body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #116979;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #116979;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 20%;
}
h1 {
  color: #eff3c6;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Bad Script', cursive;
}
h2 {
  margin: 0 auto 0 auto;
  color: #116979;
  font-weight:bold;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
}
h3 {
  color: #116979;
  font-weight: bold;
}

a:link {
  color: #116979;
  text-decoration: none;
}
a:visited {
  color: #116979;
}
a:hover {
  color: #f7f7f7;
}
.top-container{
  background-color: #77d8d8;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  display: block;
  background-color: #f7f7f7;
}
.bottom-container {
  background-color: #77d8d8;
  padding-top: 15px;
}
.bottom-container ul {
  margin: 0;
  padding: 0;
}
.bottom-container ul li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.profile {
  padding-top: 25px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.wannabe {
  text-decoration: underline;
}
.me {
  width: 50%;
  margin: 0 auto 0 auto;
}
.if {
  width: 50%;
  margin: 0 auto 0 auto;
}
.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.img-browser {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-profs {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.button:link,
.button:visited{
    display: inline-block;
    margin:40px auto 60px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 8px;
    border: 1px solid #77d8d8;
    border-radius: 9px;
    background: #77d8d8;
    font: normal normal bold 21px arial;
    text-decoration: none;
}
.button:hover {
    border: 1px solid #77d8d8;
    background: #77d8d8;
    text-decoration: none;
}
